button:hover{
    cursor: pointer;
    background-color:orange;
}
button{
    height: 35px;
    width: 95px;
    border-radius: 10px;
    transition: background-color 0.3s;
      /* border-top-color: green;
  border-bottom-color: green;
  border-right-color: blue;
  border-left-color: orange; */
  padding: 2px;
  margin: 5px;
  font-size:17px;
  border: 2px solid;
}
#next{
    height: auto;
    width: auto;
}
#cnt{
border-radius: 5px;
border: 3px solid aqua;
height:25px ;
width: 90px;
text-align: center;
padding: 2px;
font-size: 20px;
}